@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Kanit:wght@300&display=swap");
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#mylogo {
  text-decoration: none;
  font-weight: 400;
  font-size: 25px;
  font-family: "Bungee Shade", cursive;
  margin-left: 12px;
}
#menuitems {
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  margin-right: 12px;
}
#nav-linkid {
  padding-inline: 25px;
}
#heading1 {
  font-family: "Bebas Neue", cursive;
  font-size: 54px;
}
@media (max-width: 768px) {
  #heading1 {
    text-align: center;
  }
}
#content1 {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  text-align: justify;
}
#aboutme {
  padding: 40px;
}
#skillBox {
  width: 200px;
  margin-inline: 90px;
  margin-top: 50px;
  text-align: center;
}
#skillImage {
  width: 200px;
}
#skillHead {
  width: 200px;
  padding-top: 20px;
}
#skillPara {
  width: 200px;
  text-align: justify;
}
#skillRow {
  align-content: space-between;
}
#skillHeading {
  padding-top: 25px;
}
#eduLogo {
  height: 50%;
}
@media (min-width: 768px) {
  #eduDetails {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  #educationContent {
    height: 200px;
  }
}
